/* work sans font from google */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* work sans font from google */

/* Shared style start here */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.text-light-gray {
  color: #727272;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
/* Shared style ends here */

/* header styles start Here */

header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* header styles end  Here*/

/* Banner content start here */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 50px;
  width: 100%;
}

/* Banner content end here */

/* main styles start here */

main {
  max-width: 1440px;
  margin: 70px auto;
}

/* main styles ends here */

/* teams style start here */

.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding: 0 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  font-weight: 500;
}
.teams-title .text-features {
  font-weight: 700;
  color: #ff900e;
}
/* teams style ends here */

/* facts section start here */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
}
.facts-card-container .card-stats {
  color: #424242;
  font-size: 2.8rem;
  margin: 10px 0 5px 0;
}

/* facts section start here */

/* Responsive media queries start here  */

/* Mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
    width: 100%;
  }
  nav,
  .teams-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content {
    padding: 0 20px;
  }
}

/* tablet or medium devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    flex-direction: column;
  }
  .teams-container {
    flex-direction: column-reverse;
    gap: 70px;
  }
  header {
    padding: 20px;
  }
}

/* Responsive media queries ends here  */
